<div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center cyan-text text-lighten-5">轻 语</h1>
        <div class="row center">
          <h5 class="header col s12 light">一个梦开始的地方</h5>
        </div>
        <div class="row center">
          <a id="download-button" class="btn-large waves-effect waves-light blue lighten-2">开始这段旅程</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="./../assets/resource/pic/main01.jpg" alt="Unsplashed background img 1"></div>
  </div>
  <div class="container whitebgc">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">是时候将创意展现给别人了</h5>
            <p class="light">每一个人的心中，都有一个梦想，每一个人的梦里，都存在着希望。</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Ta们的关注是我们成长的动力</h5>

            <p class="light">在你受尽挫折的时候推你一把，在你失魂落魄的时候点燃希望。</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">流程化的操作让人更加专心</h5>

            <p class="light">这一切的一切只需要你，在这里，放上心中梦，放飞它，或者，偷偷地，掩埋它。</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./../assets/resource/pic/main02.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container whitebgc">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>在这里你无拘无束</h4>
          <p class="left-align light">这是网络风暴的一角安静港湾，这是自己内心世界的独白，你可以在 心情条 里偷偷写下自己的内心，也可以在 时光馆 里写下过去和未来，还可以在 发现
            中探索别人的骄傲与分享，当然，你可以上传自己的即时创作，与他人分享，与自己分享！</p>
        </div>
      </div>

    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./../assets/resource/pic/main03.jpg" alt="Unsplashed background img 3"></div>
  </div>
</div>
